<h1>Sign In</h1>

<h3>Enter your Email and Password</h3>

	<form action="<%= session_url %>" method = "POST">
		<input type = "hidden" 
		name = "authenticity_token" 
		value = "<%= form_authenticity_token %>">
			
		
		<label for="user_email">Email:</label>
		<input type="text" 
			name="user[email]" 
			id="user_email">
	
		<label for="user_password">Password:</label>
		<input type="password" 
			name="user[password]" 
			id="user_password">
	
		<input type="submit" value="Sign In">
	</form> 
New user? Click <%= link_to "here", new_user_url %> to sign up.