<form action = "<%= track_notes_url(track) %>" method = "POST">
	<input type="hidden" 
		name="authenticity_token" 
		value="<%= form_authenticity_token %>">
	
	<label for="note_body">Leave a Note..</label></br>
	<textarea name="note[body]" id="note_body"></textarea>
		</br>
		
	<input type="hidden" name="note[user_id]" value="<%= current_user.id %>">
	<input type="hidden" name="note[track_id]" value="<%= track.id %>">
	<input type = "submit" value="Post Note">
</form>