<h1>All Bands</h1>

<% @bands.each do |band| %>
<%= link_to band.name, band_url(band) %> 
<%= button_to "Delete", band_url(band), method: :delete %>
</br>
<% end %>

<%= button_to "Create Band", new_band_url, method: :get %>